<VirtualHost *:80>
    ServerAdmin     {{ item.admin }}
    ServerName      {{ item.record }}.{{ item.zone }}
    ServerAlias     www.{{ item.record }}.{{item.zone }}

    DocumentRoot /var/www/{{ item.record }}.{{ item.zone }}
    <Directory />
        Options FollowSymLinks
    </Directory>

    <Directory /var/www/{{ item.record }}.{{ item.zone }}>
        Options Indexes FollowSymLinks MultiViews
        Order allow,deny
        allow from all
        AllowOverride All
    </Directory>

    ScriptAlias /cgi-bin/ /usr/lib/cgi-bin/
    <Directory "/usr/lib/cgi-bin">
        AllowOverride None
        Options +ExecCGI -MultiViews +SymLinksIfOwnerMatch
        Order allow,deny
        Allow from all
    </Directory>

    SetEnv  BD_HOST   {{ item.dbhost }}
    SetEnv  BD_USER   {{ item.dbuser }}
    SetEnv  BD_PASS   {{ item.dbpass }}
    SetEnv  BD_NAME   {{ item.dbname }}
    SetEnv  AUTH_KEY   {{ item.wp_auth_key }}
    SetEnv  SECURE_AUTH_KEY  {{ item.wp_secure_auth_key }}
    SetEnv  LOGGED_IN_KEY  {{ item.wp_logged_in_key }}
    SetEnv  NONCE_KEY  {{ item.wp_nonce_key }}
    SetEnv  AUTH_SALT  {{ item.wp_auth_salt }}
    SetEnv  SECURE_AUTH_SALT {{ item.wp_secure_auth_salt }}
    SetEnv  LOGGED_IN_SALT  {{ item.wp_logged_in_salt }}
    SetEnv  NONCE_SALT  {{ item.wp_nonce_salt }}

    LogLevel        warn
    ErrorLog        {{ apachelogdir }}/{{ item.record }}.{{ item.zone }}.error.log
    ErrorLog        {{ apachelogdir }}/error.log
    CustomLog       {{ apachelogdir }}/{{ item.record }}.{{ item.zone }}.access.log combined
    CustomLog       {{ apachelogdir }}/access.log combined
</VirtualHost>